.back {
    color: $textColor;
    display: inline-block;
    margin-bottom: 1em;

    &:hover, &:focus {
        color: $middleColor;
        text-decoration: none;
        transition: color .2s ease;
    }
    > i {
        margin-right: 6px;
    }
}
