.form {
    &-container {
        color: white;
        width: 80%;
        margin: 2em auto;
        &__title {
            text-align: center;
            font-size: $sub2;
            margin-bottom: 1em;
        }
    }
    &-group {
        margin-bottom: 1.5em;
    }
    &__label {
        display: block;
        margin-bottom: .6em;
    }
    &__input {
        display: block;
        width: 100%;
        font-size: 1em;
        color: $textColor;
        height: 2.812em;
        border-radius: 10px;
        border: 1px solid transparent;
        padding: 0 5px;

        &:focus, &:active {
            outline: none;
            border-color: $middleColor;
        }
    }
    &__button {
        width: 50%;
        margin: 1em auto;
        display: block;
        padding: .8em 0;
    }
}

.form{
    &-regular {
        width: 100%;
        margin: 2em auto;

        > .item {
            width: 100%;
            &:nth-child(even) {
                margin-left: 0;
            }
        }
        .form {
            &-group {
                position: relative;

                > i {
                    position: absolute;
                    top: 3em;
                    right: 4%;
                }
            }
            &__input {
                border: 1px solid #666;

                &:focus, &:active {
                    border: 1px solid $middleColor;
                }
            }
            &__select {
                border: 1px solid #666;
                background: white;
                width: 100%;
                height: 2.812em;

                &:focus, &:active {
                    outline: none;
                    border: 1px solid $middleColor;
                }
            }
            &__area {
                border: 1px solid #666;
                resize: none;
                font-size: 1em;
                border-radius: 10px;
                width: 100%;
                padding: 10px;

                &:focus, &:active {
                    outline: none;
                    border: 1px solid $middleColor;
                }
            }
            &__button {
                @include gradient;
                width: 90%;
                color: white;
                padding: .8em 0;

                &:hover, &:focus {
                    @include dark-gradient;
                    transition: all .2s ease;
                    color: white;
                }
            }
        }

        .edit-avatar {
            width: 10em;
            height: 10em;
            margin: 0 auto;

            img {
                width: 100%;
            }
        }
    }
}

@media screen and (min-width:425px) {
    .form {
        &-container {
            width: 70%;
        }
    }
}

@media screen and (min-width:525px) {
    .form {
        &-container {
            width: 65%;
        }
    }
}

@media screen and (min-width:625px) {
    .form {
        &-container {
            width: 55%;
        }
    }
    .form{
        &-regular {
            width: 90%;
            .form {
                &__button {
                    width: 70%;
                }
            }
        }
    }
}

@media screen and (min-width:768px) {
    .form {
        &-container {
            width: 50%;
        }
    }

    .form{
        &-regular {
            width: 75%;
            .form {
                &__button {
                    width: 60%;
                }
            }
        }
    }
}

@media screen and (min-width:868px) {
    .form {
        &-container {
            width: 45%;
        }
    }

    .form{
        &-regular {
            width: 60%;
            .form {
                &__button {
                    width: 55%;
                }
            }
        }
    }
}

@media screen and (min-width:981px) {
    .form {
        &-container {
            width: 40%;
        }
    }
}

@media screen and (min-width:1024px) {
    .form {
        &-container {
            width: 35%;
        }
    }

    .form{
        &-regular {
            width: 50%;
        }
    }
}


@media screen and (min-width:1224px) {
    .form {
        &-container {
            width: 30%;
        }
    }

    .form{
        &-regular {
            width: 45%;
        }
    }
}

@media screen and (min-width:1440px) {
    .form {
        &-container {
            width: 27%;
        }
    }
}

@media screen and (min-width:1640px) {
    .form {
        &-container {
            width: 25%;
        }
    }
}

@media screen and (min-width:1840px) {
    .form {
        &-container {
            width: 22%;
        }
    }
}

@media screen and (min-width:2000px) {
    .form {
        &-container {
            max-width: 20%;
        }
    }

    .form{
        &-regular {
            max-width: 40%;
        }
    }
}

@media screen and (min-width:2560px) {
    .form {
        &-container {
            max-width: 15%;
        }
    }
}
