/* Jiri
 *
 * /sass/styles.scss - Main stylesheet
 *
 * coded by Anne
 * started at 31/08/2017
 */
/* CSI
 *
 * /sass/settings/colors.scss - Color variables
 *
 * coded by Anne
 * started at 10/10/2016
 */
/* Jiri
 *
 * /sass/settings/fonts.scss - fonts definition
 *
 * coded by Anne
 * started at 10/10/2016
 */
/* Portfolio
 *
 * /sass/tools/_utils.scss - Small utilities
 *
 * coded by Anne
 * started at 10/05/2016
 */
.hidden {
  display: none;
}

.sro, .screen-reader-text {
  position: absolute;
  top: -99999px;
  left: -99999px;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* Espace P
 *
 * /sass/generic/meyer-reset.scss - Meyer reset
 *
 * coded by Anne
 * started at 10/10/2016
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Espace P
 *
 * /sass/generic/box-sizing.scss - box sizing definition
 *
 * coded by Anne
 * started at 10/10/2016
 */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* Jiri
 *
 * /sass/base/home.scss - basic styles
 *
 * coded by Anne
 * started at 31/08/2016
 */
html {
  line-height: 1.5;
}

* {
  line-height: 1.5;
}

.container {
  margin: 2em auto;
}

/* Jiri
 *
 * sass/components/titles.scss - styles for titles
 *
 * coded by Anne
 * started at 31/08/2017
 */
.page-header.title {
  border-bottom: 3px solid #00A883;
  margin-bottom: 2em;
}

.title-collapse {
  color: #00A883;
  margin-top: 2em;
}

.title-collapse:hover, .title-collapse:active, .title-collapse:focus {
  text-decoration: none;
  color: #015E4E;
}

/* Jiri
 *
 * sass/components/header.scss - styles for header
 *
 * coded by Anne
 * started at 31/08/2017
 */
.navbar-default .navbar-brand.logo {
  color: #00A883;
  font-size: 2em;
  padding-left: 100px;
}

.navbar-default .navbar-brand.logo:hover {
  color: #015E4E;
}

/* Jiri
 *
 * sass/components/lists.scss - styles for lists
 *
 * coded by Anne
 * started at 31/08/2017
 */
li.item > a, li.item > form {
  display: inline-block;
  width: 45%;
  vertical-align: middle;
}

li.item > form {
  text-align: right;
}

.single-item {
  margin-bottom: 2em;
}

.single-item__title {
  color: #00A883;
}

.single-item__content {
  margin-left: 5%;
}

.single-event {
  margin: 2em 0;
}

.single-event__content {
  margin-left: 5%;
}

/* Jiri
 *
 * sass/components/nav.scss - styles for different navs
 *
 * coded by Anne
 * started at 31/08/2017
 */
.nav-title {
  margin-bottom: .5em;
}

.nav-buttons {
  margin: 2em 0;
}

/* Jiri
 *
 * sass/components/forms.scss - styles for different forms
 *
 * coded by Anne
 * started at 31/08/2017
 */
.form-edit .form-group {
  margin-right: 1%;
}

.form-edit .save-button {
  margin: 0 0 2em 1em;
}

.form-edit textarea {
  resize: none;
}

.form-facultative {
  border-left: 10px solid #00A883;
  padding: 1em 0 1em 5%;
  margin: 2em 0 2em 5%;
}

.form-facultative__intro {
  color: #015E4E;
  margin-bottom: 2em;
  font-size: 1.2em;
}

.btn-sm.green {
  background: #00A883;
  border: 1px solid #00A883;
}

.btn-sm.green:hover, .btn-sm.green:active, .btn-sm.green:focus {
  background: #015E4E;
  border: 1px solid #015E4E;
}

/* Jiri
 *
 * sass/components/modal.scss - styles for modals
 *
 * coded by Anne
 * started at 31/08/2017
 */
.modal-header.title {
  border-bottom: 1px solid #00A883;
}

.modal-body {
  padding: 30px 30px 60px 30px !important;
}

/* Jiri
 *
 * sass/components/buttons.scss - styles for buttons
 *
 * coded by Anne
 * started at 31/08/2017
 */
a.btn.btn-sm.green {
  color: white;
  text-decoration: none;
}
