html {
     font-size: 16px;
 }

 body {
 	font-family: $font;
 	color: $textColor;
 	line-height: 1.5;
    height: 100vh;
    background: white;
 }

 .app {
     position: relative;
 }

 .screen {
     background-color: white;
     display: block;
     position: relative;
 }

 .small {
     color: #666;
 }
