/* Jiri
 *
 * sass/components/lists.scss - styles for lists
 *
 * coded by Anne
 * started at 31/08/2017
 */

li.item > a, li.item > form {
    display: inline-block;
    width: 45%;
    vertical-align: middle;
}

li.item > form {
    text-align: right;
}

.single-item {
    margin-bottom: 2em;

    &__title {
        color: $mainColor;
    }
}
