/* Jiri
 *
 * sass/components/titles.scss - styles for titles
 *
 * coded by Anne
 * started at 31/08/2017
 */

 .page-header.title {
     border-bottom: 3px solid $mainColor;
     margin-bottom: 2em;
 }

 .title-collapse {
     color: $mainColor;
     margin-top: 2em;
     &:hover, &:active, &:focus {
         text-decoration: none;
         color: $darkColor;
     }
 }
